__pycache__/**
.github
.gitignore
.idea
.prettierrc.json
.vscode
.vscode-test
eslint.*.mjs
node_modules
patches
requirements.dev.txt
src
syntaxes/*.old
tests
tools
tsconfig.json
vsc-extension-quickstart.md
webpack.*.js
