.vscode
.vscode-test
.idea
.gitignore
vsc-extension-quickstart.md
tools
syntaxes/*.old
__pycache__/**
webpack.*.js
tsconfig.json
requirements.dev.txt
eslint.*.mjs
.prettierrc.json
tests
patches
node_modules
src
.github
